on:
  schedule:
    - cron:  '0 0 1 * *'
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build_package_tool:
    runs-on: ubuntu-latest
    steps:
      - name: Check latest Haiku hrev
        id: get_hrev
        run: |
          echo "hrev=hrev$(git ls-remote --tags https://review.haiku-os.org/haiku "hrev*" | sed -e 's:.*refs/tags/hrev::g' | sort -nr | head -n1)" >> "$GITHUB_OUTPUT"
      - name: Check latest package release
        id: get_package
        run: |
          hrev=""
          pageNum=1
          while [ "$hrev" == "" ];
          do
            # Fetch using GitHub API
            json=$(curl -s ${{ github.api_url }}/repos/${{ github.repository }}/releases?page=$pageNum)
            pageNum=$((pageNum + 1))
            set +e
            echo $json | jq -e -r '.[] | .html_url | select(contains("package"))'
            set -e
            if [ "$?" != "0" ]; then
              # This means that we've passed the end and reached an empty page
              break
            fi
            hrev=$(echo $json | jq -r '.[] | .html_url | select(contains("package"))' | sed -n 's/^.*releases\/tag\/package-\([^"]*\).*$/\1/p' | head -n 1)
          done
          echo "hrev=$hrev" >> "$GITHUB_OUTPUT"
      - name: Build packages
        if: steps.get_hrev.outputs.hrev != steps.get_package.outputs.hrev
        run: |
          echo "Building package tool at ${{ steps.get_hrev.outputs.hrev }}"
          git clone https://review.haiku-os.org/haiku --depth 1
          git clone https://review.haiku-os.org/buildtools --depth 1
          sudo apt install -y attr nasm
          cd buildtools/jam
          make -j$(nproc)
          cd /tmp
          $GITHUB_WORKSPACE/haiku/configure --host-only
          $GITHUB_WORKSPACE/buildtools/jam/jam0 -j$(nproc) -q '<build>package'
          cd $GITHUB_WORKSPACE
          zip -j x86_64-linux-package-${{ steps.get_hrev.outputs.hrev }}.zip \
            /tmp/objects/linux/lib/libroot_build.so \
            /tmp/objects/linux/lib/libpackage_build.so \
            /tmp/objects/linux/lib/libbe_build.so \
            /tmp/objects/linux/x86_64/release/tools/package/package \
            haiku/License.md
      - name: Upload artifacts
        if: steps.get_hrev.outputs.hrev != steps.get_package.outputs.hrev
        uses: actions/upload-artifact@v3
        with:
          name: x86_64-linux-package-${{ steps.get_hrev.outputs.hrev }}
          path: x86_64-linux-package-${{ steps.get_hrev.outputs.hrev }}.zip
      - name: Create release
        if: steps.get_hrev.outputs.hrev != steps.get_package.outputs.hrev
        id: create-release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: package-${{ steps.get_hrev.outputs.hrev }}
          prerelease: false
          title: HPKG package tool ${{ steps.get_hrev.outputs.hrev }}
          files: x86_64-linux-package-${{ steps.get_hrev.outputs.hrev }}.zip